.btn{
	padding: 12px 24px 12px 24px;
	margin: 5px;
}

#zero {
	padding-left: 67px;
  padding-right: 67px;
  margin-right: 24px;
}

#clear {
	padding-left: 18px;
  padding-right: 18px;
}

.container{
	display: flex;
	justify-content: center;
}

.box{
	background-color: orange;
  width: 400px;
  height: 500px;
  border-radius: 25px;
}

.all-buttons{
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#display{
	margin-top: 30px;
	font-size: 35px;
	direction: RTL;
	text-align: initial;
	width: 100%;
}

#equals{
  padding-top: 42px;
  padding-bottom: 42px;
}

#one , #two, #three {
  align-self: flex-start;
  margin: 7px;
}

.bottom-buttons{
	position: relative;
	bottom: 57px;
}
