.container{
	display: flex;
	justify-content: center;
}

.box{
	background-color: orange;
  width: 400px;
  height: 500px;
}

.all-buttons{
	text-align: center;
}

.btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

#display{
	font-size: 35px;
	direction: RTL;
	text-align: initial;
	width: 100%;
}