.container{
	display: flex;
	justify-content: center;
}

.box{
	display: flex;
	flex-direction: column;
	box-shadow: 10px 10px 5px #888888;
	background-color: #DEB233;
  width: 324px;
  height: 510px;
  border-radius: 150%/100px 100px 0 0;
}

.bottom-box{
  box-shadow: 10px 10px 5px #888888;
  position: relative;
  bottom: 3px;
  background-color: #DEB233;
  width: 324px;
  height: 30px;
  border-radius: 150%/0 0 100px 100px;
}

.cells{
  width: 100px;
  align-self: center;
  margin-top: 30px;
  display: flex;
}

.solar-cell{
	background-color: #74534B;
	height: 25px;
  width: 25%;
  border: solid #836954 1px;
}

.big-title{
  font-size: 30px;
  color: #BABCD7;
  font-weight: 800;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.small-title{
  font-size: 20px;
  color: #BABCD7;
  font-weight: 100;
  margin-bottom: -13px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.blue-box{
  height: 200px;
  width: 285px;
  background-color: #25378D;
  margin-left: 20px;
  border-radius: 150%/100px 100px 0 0;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
}

form{
	display: flex;
  justify-content: center;
}

#display{
	font-family:'digital';
	margin-top: 20px;
	direction: RTL;
	text-align: initial;
	width: 152px;
  background-color: #A69C87;
  border: none;
  font-size: 30px;
  height: 25px;
}

.btn{
	padding: 12px 24px 12px 24px;
	margin: 5px;
}

#zero {
	padding-left: 61px;
  padding-right: 61px;
  margin-right: 6px;
}

#clear {
	padding-left: 18px;
  padding-right: 18px;
}

.all-buttons{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

#equals{
  padding-top: 42px;
  padding-bottom: 42px;
}

#one , #two, #three {
  align-self: flex-start;
  margin: 7px;
}

.bottom-buttons{
	position: relative;
	bottom: 57px;
}

@font-face{
 font-family:'digital';
 src: url('../fonts/digital.ttf');
}
